<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar *ngIf="!!currentUser">
        <img [src]="currentUser.photoURL" (click)="openProfile()"/>
      </ion-avatar>
    </ion-buttons>
    <ion-title>
      Salas de Sorteio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/create-draw']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" [disabled]="loading">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-searchbar placeholder="Pesquisar sala..."></ion-searchbar>
  
  <ion-list lines="full">
    <ng-container *ngIf="loading">
      <ion-item *ngFor="let i of [1,2,3,4,5,6]" class="draw-item" detail="false">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h2>
          <p class="badges-line">
            <ion-skeleton-text animated style="width: 20%; float: left;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%; float: left; margin-left: 10px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%; float: right;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="!loading">
      
      <ion-note *ngIf="!draws || draws.length === 0" style="
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 100vh;
        text-align: center;
      ">Nenhuma sala de sorteio encontrada.</ion-note>
      
      <ion-item 
        *ngFor="let draw of draws" 
        class="draw-item" 
        [routerLink]="['/draw', draw.uuid]" 
        [disabled]="draw.status !== DrawStatus.PENDING" 
        detail="false">

        <ion-label>
          <h2>{{ draw.data.title }}</h2>
          <p class="badges-line">
            <ion-badge color="light" class="ion-margin-end" [class.open]="draw.candidatesCount < draw.spots" [class.warning]="draw.candidatesCount >= draw.spots">
              <ion-icon name="people-outline"></ion-icon>
              &#160; {{ draw.candidatesCount ? draw.candidatesCount : 0 }}/{{ draw.spots }}
            </ion-badge>
            
            <ion-badge color="light" class="ion-margin-end" *ngIf="draw.status === DrawStatus.FINISHED && !!draw.winner" [class.open]="!!draw.winner" [class.closed]="false">
              <ion-icon name="trophy-outline"></ion-icon>
              &#160;{{ draw.winner.profile.firstName }} {{ draw.winner.profile.lastName }}
            </ion-badge>

            <ion-badge color="danger" *ngIf="draw.status === DrawStatus.INVALIDATED" class="ion-float-end">Cancelado</ion-badge>
          </p>
          <p>{{ draw.data.description }}</p>
        </ion-label>
        <div class="status-breadcrumbs" *ngIf="draw.status !== DrawStatus.INVALIDATED">
          <span [class.active]="draw.status === DrawStatus.COMMIT" [class.done]="[DrawStatus.REVEAL, DrawStatus.FINISHED].includes(draw.status)">C</span>
          <span [class.active]="draw.status === DrawStatus.REVEAL" [class.done]="[DrawStatus.FINISHED].includes(draw.status)">R</span>
          <span [class.done]="draw.status === DrawStatus.FINISHED">&#10004;</span>
        </div>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextPage($event)">
    <ion-infinite-scroll-content
      class="ion-margin-top"
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
