.searchbar-input.sc-ion-searchbar-ios {
  font-size: 12px;
}

ion-item.draw-item {
  position: relative;
  --border-color: var(--ion-color-light-shade);
  h2 {
    font-weight: bold;
    margin: 4px 0 8px;
  }

  ion-badge {
    font-weight: normal;
    font-size: 12px;

    &.open {
      color: var(--ion-color-success);
    }
    &.closed {
      color: var(--ion-color-danger);
    }
    &.warning {
      color: var(--ion-color-warning);
    }

    ion-icon {
      float: left;
    }
  }

  p.badges-line {
    margin: 8px 0;
  }

  div.status-breadcrumbs {
    position: absolute;
    right: 15px;
    top: 38px;

    span {
      display: inline-block;
      width: 22px;
      height: 22px;
      font-size: 10px;
      text-align: center;
      padding: 4px;
      color: #ffffff;
      border-radius: 100%;
      margin: 0 8px;
      z-index: 2;
      position: relative;
      background-color: var(--ion-color-light-shade);

      &::after {
        content: ' ';
        border-bottom: 2px solid var(--ion-color-light-shade);
        width: 18px;
        height: 1px;
        position: relative;
        right: -18px;
        top: calc(-100% - 2px);
        display: inline-block;
        z-index: 1;
      }

      &:last-child {
        &::after {
          border-color: transparent;
        }
      }

      &.done {
        background-color: var(--ion-color-success);
        &::after {
          border-bottom: 2px solid var(--ion-color-success);
        }
      }

      &.active {
        background-color: var(--ion-color-primary);
        &::after {
          border-bottom-style: dotted;
        }
      }

    }
  }
}