<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salas de Sorteio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/create-draw']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-searchbar placeholder="Pesquisar sala..."></ion-searchbar>

  <ion-list lines="full">
    <ion-item *ngFor="let i of [1,2,3,4,5,6]" class="draw-item" [routerLink]="['/draw']" detail="false">
      <ion-label>
        <h2>Sorteio PCS #1</h2>
        <p class="badges-line">
          <ion-badge color="light" class="ion-margin-end" [class.open]="true" [class.closed]="i === 4">
            <ion-icon name="people-outline"></ion-icon>
            &#160;10/16
          </ion-badge>
          
          <ion-badge color="light" class="ion-margin-end" [class.open]="true" [class.closed]="i === 4">
            <ion-icon name="lock-open-outline"></ion-icon>
            &#160;aberta
          </ion-badge>
        </p>
        <p>Sala para sorteio de um computador lorem ipsum dolor sit amet...</p>
      </ion-label>
      <div class="status-breadcrumbs">
        <span [class.done]="true">C</span>
        <span [class.active]="true">R</span>
        <span [class.pending]="true">&#10004;</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
